<xml version="1.0" encoding="UTF-8" />
<Parameter>
    <MasterKey000>
        <element000>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element000>
        <element001>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element001>
        <element002>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element002>
        <element003>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element003>
        <element004>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element004>
        <element005>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element005>
        <element006>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element006>
        <element007>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element007>
        <element008>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element008>
        <element009>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element009>
        <element010>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element010>
        <element011>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element011>
        <element012>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element012>
        <element013>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element013>
        <element014>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element014>
        <element015>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element015>
        <element016>
            <shellFileName>c_o_p_y_t_o_c_l_i_p_b_o_a_r_d</shellFileName>
            <shellLPParameters>grep -i -E &quot;&quot; *.LOG &gt;grep.txt &amp;&amp; grep.txt</shellLPParameters>
        </element016>
        <element017>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element017>
        <element018>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element018>
        <element019>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element019>
        <element020>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element020>
        <element021>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element021>
        <element022>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element022>
        <element023>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element023>
        <element024>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element024>
        <element025>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element025>
        <element026>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element026>
        <element027>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element027>
        <element028>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element028>
        <element029>
            <shellFileName>C:\Windows\System32\taskmgr.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element029>
        <element030>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element030>
        <element031>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element031>
        <element032>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element032>
        <element033>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element033>
        <element034>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element034>
        <element035>
            <shellFileName>C:\Program Files\Zune\Zune.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element035>
    </MasterKey000>
    <MasterKey001>
        <element000>
            <shellFileName>D:\other\document\dahua\work_before\VC2005\Calendar\release\Calendar.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element000>
        <element001>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element001>
        <element002>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element002>
        <element003>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element003>
        <element004>
            <shellFileName>d:\userdata\dpeng\desktop\shortcut\104.rdp</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element004>
        <element005>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element005>
        <element006>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element006>
        <element007>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element007>
        <element008>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element008>
        <element009>
            <shellFileName>d:\userdata\dpeng\desktop\shortcut\putty.exe</shellFileName>
            <shellLPParameters>hzling21</shellLPParameters>
        </element009>
        <element010>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element010>
        <element011>
            <shellFileName>d:\userdata\dpeng\desktop\shortcut\samsung sgh-i917.lnk</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element011>
        <element012>
            <shellFileName>C:\WINDOWS\system32\calc.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element012>
        <element013>
            <shellFileName>d:\userdata\dpeng\my documents\skydrive\my document\nsn</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element013>
        <element014>
            <shellFileName>c:\program files (x86)\microsoft office\office12\excel.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element014>
        <element015>
            <shellFileName>explorer</shellFileName>
            <shellLPParameters>ftp://rakeserver:rake&amp;pic@hgqf83x.nsn-intra.net/</shellLPParameters>
        </element015>
        <element016>
            <shellFileName>\\10.135.48.10\FS000002581\dpeng</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element016>
        <element017>
            <shellFileName>c:\program files (x86)\tencent\qq\bin\qqsclauncher.exe</shellFileName>
            <shellLPParameters>/uin:359509920 /quicklunch:19c4cfaf9dc1c82f29b4f7f099ea3f67273fb2f22eb831299f01faa5e149729c8f65eeeed44ec5cd</shellLPParameters>
        </element017>
        <element018>
            <shellFileName>c:\program files\internet explorer\iexplore.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element018>
        <element019>
            <shellFileName>c:\program files\microsoft office\office14\excel.exe</shellFileName>
            <shellLPParameters>&quot;d:\userdata\dpeng\my documents\skydrive\my document\&#xBC;&#xC7;&#xD5;&#xCB;.xlsx&quot;</shellLPParameters>
        </element019>
        <element020>
            <shellFileName>c:\apps\insight\bin\kwgcheck.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element020>
        <element021>
            <shellFileName>d:\userdata\dpeng\desktop\shortcut\hzfirewall.exe</shellFileName>
            <shellLPParameters>runas</shellLPParameters>
        </element021>
        <element022>
            <shellFileName>d:\userdata\dpeng\desktop\shortcut\myweb.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element022>
        <element023>
            <shellFileName>C:\WINDOWS\NOTEPAD.EXE</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element023>
        <element024>
            <shellFileName>c:\program files (x86)\microsoft office\office12\outlook.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element024>
        <element025>
            <shellFileName>z:\nyquist</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element025>
        <element026>
            <shellFileName>C:\Program Files (x86)\Tencent\QQ\Bin\QQ.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element026>
        <element027>
            <shellFileName>d:\userdata\dpeng\desktop\review</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element027>
        <element028>
            <shellFileName>d:\userdata\dpeng\desktop\shortcut</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element028>
        <element029>
            <shellFileName>c:\apps\totalcmd\totalcmd64.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element029>
        <element030>
            <shellFileName>c:\apps\ue\uedit32.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element030>
        <element031>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element031>
        <element032>
            <shellFileName>c:\program files (x86)\microsoft office\office12\winword.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element032>
        <element033>
            <shellFileName>c:\apps\cygwin\cygwin.bat</shellFileName>
            <shellLPParameters>runas</shellLPParameters>
        </element033>
        <element034>
            <shellFileName>c:\users\dpeng\appdata\local\youdao\dict\application\yodaodict.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element034>
        <element035>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element035>
    </MasterKey001>
    <MasterKey002>
        <element000>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element000>
        <element001>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element001>
        <element002>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element002>
        <element003>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element003>
        <element004>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element004>
        <element005>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element005>
        <element006>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element006>
        <element007>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element007>
        <element008>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element008>
        <element009>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element009>
        <element010>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element010>
        <element011>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element011>
        <element012>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element012>
        <element013>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element013>
        <element014>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element014>
        <element015>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element015>
        <element016>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element016>
        <element017>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element017>
        <element018>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element018>
        <element019>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element019>
        <element020>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element020>
        <element021>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element021>
        <element022>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element022>
        <element023>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element023>
        <element024>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element024>
        <element025>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element025>
        <element026>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element026>
        <element027>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element027>
        <element028>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element028>
        <element029>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element029>
        <element030>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element030>
        <element031>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element031>
        <element032>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element032>
        <element033>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element033>
        <element034>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element034>
        <element035>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element035>
    </MasterKey002>
    <AutoReStartEn>1</AutoReStartEn>
</Parameter>
