<xml version="1.0" encoding="UTF-8" />
<Parameter>
    <MasterKey000>
        <elementName000>notepad.exe</elementName000>
        <elementName001>calc.exe</elementName001>
        <elementName002>c:\program files (x86)\internet explorer\iexplore.exe</elementName002>
        <elementName003>unset</elementName003>
        <elementName004>unset</elementName004>
        <elementName005>unset</elementName005>
        <elementName006>unset</elementName006>
        <elementName007>unset</elementName007>
        <elementName008>unset</elementName008>
        <elementName009>unset</elementName009>
        <elementName010>unset</elementName010>
        <elementName011>unset</elementName011>
        <elementName012>unset</elementName012>
        <elementName013>unset</elementName013>
        <elementName014>unset</elementName014>
        <elementName015>unset</elementName015>
        <elementName016>unset</elementName016>
        <elementName017>unset</elementName017>
        <elementName018>unset</elementName018>
        <elementName019>unset</elementName019>
        <elementName020>unset</elementName020>
        <elementName021>unset</elementName021>
        <elementName022>unset</elementName022>
        <elementName023>unset</elementName023>
        <elementName024>unset</elementName024>
        <elementName025>unset</elementName025>
        <elementName026>unset</elementName026>
        <elementName027>unset</elementName027>
        <elementName028>unset</elementName028>
        <elementName029>unset</elementName029>
        <elementName030>unset</elementName030>
        <elementName031>unset</elementName031>
        <elementName032>unset</elementName032>
        <elementName033>unset</elementName033>
        <elementName034>unset</elementName034>
        <elementName035>unset</elementName035>
    </MasterKey000>
    <MasterKey001>
        <elementName000>unset</elementName000>
        <elementName001>unset</elementName001>
        <elementName002>unset</elementName002>
        <elementName003>unset</elementName003>
        <elementName004>unset</elementName004>
        <elementName005>unset</elementName005>
        <elementName006>unset</elementName006>
        <elementName007>unset</elementName007>
        <elementName008>unset</elementName008>
        <elementName009>unset</elementName009>
        <elementName010>unset</elementName010>
        <elementName011>unset</elementName011>
        <elementName012>unset</elementName012>
        <elementName013>unset</elementName013>
        <elementName014>unset</elementName014>
        <elementName015>unset</elementName015>
        <elementName016>unset</elementName016>
        <elementName017>unset</elementName017>
        <elementName018>unset</elementName018>
        <elementName019>unset</elementName019>
        <elementName020>unset</elementName020>
        <elementName021>unset</elementName021>
        <elementName022>unset</elementName022>
        <elementName023>unset</elementName023>
        <elementName024>unset</elementName024>
        <elementName025>unset</elementName025>
        <elementName026>unset</elementName026>
        <elementName027>unset</elementName027>
        <elementName028>unset</elementName028>
        <elementName029>unset</elementName029>
        <elementName030>unset</elementName030>
        <elementName031>unset</elementName031>
        <elementName032>unset</elementName032>
        <elementName033>unset</elementName033>
        <elementName034>unset</elementName034>
        <elementName035>unset</elementName035>
    </MasterKey001>
    <MasterKey002>
        <elementName000>unset</elementName000>
        <elementName001>unset</elementName001>
        <elementName002>unset</elementName002>
        <elementName003>unset</elementName003>
        <elementName004>unset</elementName004>
        <elementName005>unset</elementName005>
        <elementName006>unset</elementName006>
        <elementName007>unset</elementName007>
        <elementName008>unset</elementName008>
        <elementName009>unset</elementName009>
        <elementName010>unset</elementName010>
        <elementName011>unset</elementName011>
        <elementName012>unset</elementName012>
        <elementName013>unset</elementName013>
        <elementName014>unset</elementName014>
        <elementName015>unset</elementName015>
        <elementName016>unset</elementName016>
        <elementName017>unset</elementName017>
        <elementName018>unset</elementName018>
        <elementName019>unset</elementName019>
        <elementName020>unset</elementName020>
        <elementName021>unset</elementName021>
        <elementName022>unset</elementName022>
        <elementName023>unset</elementName023>
        <elementName024>unset</elementName024>
        <elementName025>unset</elementName025>
        <elementName026>unset</elementName026>
        <elementName027>unset</elementName027>
        <elementName028>unset</elementName028>
        <elementName029>unset</elementName029>
        <elementName030>unset</elementName030>
        <elementName031>unset</elementName031>
        <elementName032>unset</elementName032>
        <elementName033>unset</elementName033>
        <elementName034>unset</elementName034>
        <elementName035>unset</elementName035>
    </MasterKey002>
    <AutoReStartEn>0</AutoReStartEn>
</Parameter>
