<xml version="1.0" encoding="UTF-8" />
<Parameter>
    <MasterKey000>
        <element000>
            <shellFileName>notepad.exe </shellFileName>
            <shellLPParameters>unset </shellLPParameters>
        </element000>
        <element001>
            <shellFileName>calc.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element001>
        <element002>
            <shellFileName>c:\program files (x86)\internet explorer\iexplore.exe</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element002>
        <element003>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element003>
        <element004>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element004>
        <element005>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element005>
        <element006>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element006>
        <element007>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element007>
        <element008>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element008>
        <element009>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element009>
        <element010>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element010>
        <element011>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element011>
        <element012>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element012>
        <element013>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element013>
        <element014>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element014>
        <element015>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element015>
        <element016>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element016>
        <element017>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element017>
        <element018>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element018>
        <element019>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element019>
        <element020>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element020>
        <element021>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element021>
        <element022>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element022>
        <element023>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element023>
        <element024>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element024>
        <element025>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element025>
        <element026>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element026>
        <element027>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element027>
        <element028>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element028>
        <element029>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element029>
        <element030>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element030>
        <element031>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element031>
        <element032>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element032>
        <element033>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element033>
        <element034>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element034>
        <element035>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element035>
    </MasterKey000>
    <MasterKey001>
        <element000>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element000>
        <element001>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element001>
        <element002>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element002>
        <element003>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element003>
        <element004>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element004>
        <element005>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element005>
        <element006>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element006>
        <element007>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element007>
        <element008>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element008>
        <element009>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element009>
        <element010>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element010>
        <element011>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element011>
        <element012>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element012>
        <element013>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element013>
        <element014>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element014>
        <element015>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element015>
        <element016>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element016>
        <element017>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element017>
        <element018>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element018>
        <element019>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element019>
        <element020>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element020>
        <element021>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element021>
        <element022>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element022>
        <element023>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element023>
        <element024>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element024>
        <element025>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element025>
        <element026>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element026>
        <element027>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element027>
        <element028>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element028>
        <element029>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element029>
        <element030>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element030>
        <element031>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element031>
        <element032>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element032>
        <element033>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element033>
        <element034>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element034>
        <element035>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element035>
    </MasterKey001>
    <MasterKey002>
        <element000>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element000>
        <element001>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element001>
        <element002>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element002>
        <element003>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element003>
        <element004>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element004>
        <element005>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element005>
        <element006>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element006>
        <element007>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element007>
        <element008>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element008>
        <element009>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element009>
        <element010>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element010>
        <element011>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element011>
        <element012>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element012>
        <element013>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element013>
        <element014>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element014>
        <element015>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element015>
        <element016>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element016>
        <element017>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element017>
        <element018>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element018>
        <element019>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element019>
        <element020>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element020>
        <element021>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element021>
        <element022>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element022>
        <element023>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element023>
        <element024>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element024>
        <element025>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element025>
        <element026>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element026>
        <element027>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element027>
        <element028>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element028>
        <element029>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element029>
        <element030>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element030>
        <element031>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element031>
        <element032>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element032>
        <element033>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element033>
        <element034>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element034>
        <element035>
            <shellFileName>unset</shellFileName>
            <shellLPParameters>unset</shellLPParameters>
        </element035>
    </MasterKey002>
    <AutoReStartEn>0</AutoReStartEn>
</Parameter>
